<div class="card mt-3">
    <h5 class="card-header">Table Film</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>owner</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for item in  films %}
          <tr>
            <td>
              <i class="ti ti-brand-angular ti-lg text-danger me-3"></i> <strong>{{item.name}}</strong>
            </td>
            <td>Albert Cook</td>
            
           <td><span class="badge bg-label-primary me-1">Active</span></td>
           <td>
            <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0"  hx-target='#film-list' hx-confirm = "Are you sur" hx-delete  = "{% url 'delete-film' item.pk%}">
                <button class="btn btn-label-danger " >
                  <i class="ti ti-x ti-xs me-1"></i>
                </button>
              </div> 
           </td>
            
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>